<?xml version="1.0"?>

<indexconfig>
  <meta>
    <title>SUSE Documentation Draft Builds</title>
    <head>SUSE Documentation - <span class="warn">Draft Builds</span></head>
    <tabs>
     <a href="https://documentation.suse.com/">SUSE Docs (official)</a>
     <a href="https://doc.opensuse.org">openSUSE Docs (official)</a>
     <a href="mailto:doc-team@suse.com">Contact doc-team@suse.com</a>
    </tabs>
    <desc>
      <p>
        This page lists draft documentation built and uploaded automatically.
        They may document beta software and be incomplete or even incorrect.
      </p>
      <p class="warn">Use these documents at your own risk.</p>
      <p>
        Find the released versions of the product documentation at:
      </p>
      <ul>
        <li>SUSE Products: <a href="https://documentation.suse.com/">https://documentation.suse.com/</a></li>
        <li>openSUSE: <a href="https://doc.opensuse.org">https://doc.opensuse.org</a></li>
      </ul>
      <p>
        To reach out to us, use the e-mail address
        <a href="mailto:doc-team@suse.com">doc-team@suse.com</a>.
        Report issues with this page at
        <a href="https://github.com/SUSEdoc/susedoc.github.io/issues">https://github.com/SUSEdoc/susedoc.github.io/issues</a>.
      </p>
      <p>
        The <em>main</em> branch usually corresponds with the
        upcoming release. In these cases the content may change heavily over a
        very short period of time. The release branches usually are stable. In
        some cases, the main branch also represents the most recent release.
      </p>
      <p>
        If you want to build docs yourself, there are two ways to install our
        toolchain:
        <a href="/ymp/">natively</a> (openSUSE Leap or Tumbleweed) or
        <a href="https://github.com/openSUSE/daps2docker">containerized</a>
        (any Linux distribution with Docker/Podman and systemd).
      </p>
    </desc>
    <bottominfo/>
    <style>stylesheet.css</style>
    <baseurl/>
    <formats>
     <format dir="html">HTML</format>
     <format dir="single-html">Single HTML</format>
    </formats>
  </meta>
  <cats>
    <cat id="release-notes" repo="release-notes">Release Notes</cat>
    <cat id="sles16"     repo="doc-modular">SUSE Linux Enterprise Server 16</cat>
    <cat id="sles16-sap" repo="doc-modular">SUSE Linux Enterprise for SAP Applications 16</cat>
    <cat id="sle16-ha"   repo="doc-modular">SUSE Linux Enterprise High Availability Extension 16</cat>
    <cat id="alp"        repo="doc-modular">SUSE ALP</cat>
    <cat id="sles"       repo="doc-sle">SUSE Linux Enterprise Server</cat>
    <cat id="sle-micro"  repo="doc-sle">SUSE Linux Enterprise Micro</cat>
    <cat id="modular-micro"  repo="doc-modular">SUSE Linux Enterprise Micro</cat>
    <cat id="sled"       repo="doc-sle">SUSE Linux Enterprise Desktop</cat>
    <cat id="sle-ha"     repo="doc-sleha">SUSE Linux Enterprise High Availability Extension</cat>
    <cat id="sle-rt"     repo="doc-slert">SUSE Linux Enterprise Real-Time</cat>
    <cat id="sles-sap"   repo="doc-slesforsap">SUSE Linux Enterprise Server for SAP Applications</cat>
    <cat id="sle-hpc"    repo="doc-hpc">SUSE Linux Enterprise High Performance Computing</cat>
    <cat id="sbp"        repo="suse-best-practices">SUSE Best Practices</cat>
    <cat id="opensuse"   repo="doc-sle">openSUSE</cat>
    <cat id="vmdp"       repo="doc-vmdp">SLE Virtual Machine Driver Pack</cat>
    <cat id="ses"        repo="doc-ses">SUSE Enterprise Storage</cat>
    <cat id="cap"        repo="doc-cap">SUSE Cloud Application Platform</cat>
    <cat id="cap-rn"     repo="cap-release-notes">SUSE Cloud Application Platform (Release Notes)</cat>
    <cat id="caasp"      repo="doc-caasp">SUSE CaaS Platform</cat>
    <cat id="caasp-rn"   repo="caasp-release-notes">SUSE CaaS Platform (Release Notes)</cat>
    <cat id="soc"        repo="doc-cloud">SUSE OpenStack Cloud</cat>
    <cat id="pubcloud"   repo="doc-public-cloud">SUSE Public Cloud</cat>
    <cat id="smartdocs"  repo="doc-modular">SUSE Smart Docs</cat>
    <cat id="styleguide" repo="doc-styleguide">SUSE Documentation Style Guide</cat>
    <cat id="liberty"    repo="doc-liberty">SUSE Multi-Linux Support</cat>
    <cat id="unvers"     repo="doc-unversioned">SUSE Linux Enterprise unversioned</cat>
    <cat id="submgt"     repo="doc-unversioned">Subscription Management</cat>    
  </cats>

  <redirect from="sles-15sp4-rn" to="release-notes/sles-15_SP4/html/release-notes/"/>
  <redirect from="sled-15sp4-rn" to="release-notes/sled-15_SP4/html/release-notes/"/>
  <redirect from="sle-sap-15sp4-rn" to="release-notes/sle-sap-15_SP4/html/release-notes/"/>
  <redirect from="sle-ha-15sp4-rn" to="release-notes/sle-ha-15_SP4/html/release-notes/"/>
  <redirect from="sle-hpc-15sp4-rn" to="release-notes/sle-hpc-15_SP4/html/release-notes/"/>

  <doc cat="sles16"  doc="SLES-networkmanager-nmcli" branches="main">Setting Up and Managing Network Connections Using NetworkManager</doc>
  <doc cat="sles16"  doc="SLES-cockpit" branches="main">Administering SLE Using Cockpit</doc>
  <doc cat="sles16"  doc="SLES-ppc-agama-based-installation" branches="main">Installing SLE 16 for PPC Manually Using Agama</doc>
  <doc cat="sles16"  doc="SLES-s390-agama-based-installation" branches="main">Installing SLE 16 for IBM Z Manually Using Agama</doc>
  <doc cat="sles16"  doc="SLES-x86-64-agama-based-installation" branches="main">Installing SLE 16 for x86-64 Manually Using Agama</doc>
  <doc cat="sles16"  doc="SLES-x86-64-agama-automated-installation" branches="main">Automated installation of SUSE Linux Enterprise Server using Agama</doc>  
  <doc cat="sles16"  doc="SLES-snapper-basics" branches="main">Snapper basics</doc>
  <doc cat="sles16"  doc="SLES-copy-file-rsync" branches="main">Copying Files and Directories with rsync</doc>
  <doc cat="sles16"  doc="SLE-os-identification" branches="main">SLE OS identification</doc>
  <doc cat="sles16"  doc="SLES-SELinux" branches="main">Understanding SELinux Basics</doc>
  <doc cat="sles16"  doc="SLES-systemd-timers" branches="main">Working with Systemd Timers</doc>
  <doc cat="sles16"  doc="SLES-ntp-time-synchronization" branches="main">Synchronizing Time Using NTP/NTS</doc>
  <doc cat="sles16"  doc="SLES-sudo-run-commands-as-superuser" branches="main">Running Commands as Superuser with sudo</doc>
  <doc cat="sles16"  doc="SLES-sudo-configure-superuser-privileges" branches="main">Configuring Superuser Privileges with sudo</doc>
  <doc cat="sles16"  doc="SLES-deployment-pxe-client" branches="main">Deploying SLES via PXE Client</doc>
  <doc cat="sles16"  doc="SLES-PXE-server" branches="main">Setting Up a PXE Boot Server on SLE 16.0</doc>
  <doc cat="sles16"  doc="SLES-supportconfig" branches="main">Gathering System Information for Support</doc>
  <doc cat="sles16"  doc="SLES-klp" branches="main">Kernel Live Patching on SUSE Linux Enterprise Server</doc>
  <doc cat="sles16"  doc="SLE-comparison" branches="main">Adopting SUSE Linux Enterprise 16 - Key differences between SLE 15 and 16</doc>
  <doc cat="sles16"  doc="SLES-systemd-basics" branches="main">Introduction to systemd Basics</doc>
  <doc cat="sles16"  doc="SLES-valkey" branches="main">Introduction to Valkey</doc>
  <doc cat="sles16"  doc="SLES-virtualization" branches="main">Virtualization</doc>
  <doc cat="sles16"  doc="HA-installing-two-node-cluster" branches="main">Installing a Basic Two-Node High Availability Cluster</doc>
  <doc cat="sles16"  doc="HA-installing-three-node-cluster" branches="main">Installing a Basic Three-Node High Availability Cluster</doc>
  <doc cat="sles16"  doc="HA-introduction" branches="main">Introduction to SUSE Linux Enterprise High Availability</doc>
  <doc cat="sles16"  doc="HA-qdevice-configuring" branches="main">Configuring QDevice and QNetd in an Existing High Availability Cluster</doc>
  <doc cat="sles16"  doc="HA-sbd-configuring-diskbased" branches="main">Configuring Disk-Based SBD in an Existing High Availability Cluster</doc>
  <doc cat="sles16"  doc="HA-sbd-changing-configuration" branches="main">Changing the Configuration of SBD</doc> 
  <doc cat="sles16"  doc="SLE-differences-faq" branches="main">Differences between SLE 15 and SLE 16 FAQ</doc>
  <doc cat="sles16"  doc="SLES-gnome-remote-desktop" branches="main">Configuring a remote desktop</doc>
  <doc cat="sles16"  doc="SLES-vm-host-network-multihome-setup" branches="main">Configuring Multihome Networking on VM Hosts</doc>
  <doc cat="sles16"  doc="SLE-packages-lifecycle" branches="main">Lifecycles of SLE Components</doc>
  <doc cat="sles16"  doc="SLES-rootless-podman" branches="main">Rootless containers with Podman</doc>
  <doc cat="sles16"  doc="SLES-apache-tomcat-cloud" branches="main">Apache Tomcat on SLES</doc>

  <doc cat="sles16-sap"  doc="SAP-GNOME-getting-started" branches="main">Getting Started with GNOME Desktop</doc>
  <doc cat="sles16-sap"  doc="SAP-PXE-server" branches="main">Setting Up a PXE Boot Server</doc>
  <doc cat="sles16-sap"  doc="SAP-cockpit" branches="main">Administering SLES for SAP Using Cockpit</doc>
  <doc cat="sles16-sap"  doc="SAP-copy-file-rsync" branches="main">Copying Files and Directories with rsync</doc>
  <doc cat="sles16-sap"  doc="SAP-deployment-pxe-client" branches="main">Deploying Using Network PXE Boot</doc>
  <doc cat="sles16-sap"  doc="SAP-gnome-remote-desktop" branches="main">Configuring a Remote Desktop Server</doc>
  <doc cat="sles16-sap"  doc="SAP-intro-firewalld" branches="main">Introduction to firewalld</doc>
  <doc cat="sles16-sap"  doc="SAP-klp" branches="main">Kernel Live Patching on SUSE Linux Enterprise</doc>
  <doc cat="sles16-sap"  doc="SAP-networkmanager-nmcli" branches="main">Setting Up and Managing Network Connections Using NetworkManager</doc>
  <doc cat="sles16-sap"  doc="SAP-ntp-time-synchronization" branches="main">Synchronizing Time Using NTP/NTS</doc>
  <doc cat="sles16-sap"  doc="SAP-ppc-agama-based-installation" branches="main">Installing SLES for SAP 16 for PPC Manually Using Agama</doc>
  <doc cat="sles16-sap"  doc="SAP-s390-agama-based-installation" branches="main">Installing SLE for SAP for IBM Z Manually Using Agama</doc>
  <doc cat="sles16-sap"  doc="SAP-snapper-basics" branches="main">The Basic Concepts of Snapper</doc>
  <doc cat="sles16-sap"  doc="SAP-sudo-configure-superuser-privileges" branches="main">Configuring Superuser Privileges with sudo</doc>
  <doc cat="sles16-sap"  doc="SAP-sudo-run-commands-as-superuser" branches="main">Running Commands as Superuser with sudo</doc>  
  <doc cat="sles16-sap"  doc="SAP-systemd-timers" branches="main">Working with systemd Timers</doc>
  <doc cat="sles16-sap"  doc="SAP-valkey" branches="main">Introduction to Valkey</doc>
  <doc cat="sles16-sap"  doc="SAP-x86-64-agama-automated-installation" branches="main">Automated installation of SUSE Linux Enterprise Server for SAP applications using Agama</doc>
  <doc cat="sles16-sap"  doc="SAP-x86-64-agama-based-installation" branches="main">Installing SLES for SAP 16 for x86-64 Manually Using Agama</doc>
  <doc cat="sles16-sap"  doc="SAP-systemd-basics" branches="main">Introduction to systemd Basics</doc>
  <doc cat="sles16-sap"  doc="SAP-virtualization" branches="main">Virtualization</doc>
  <doc cat="sles16-sap"  doc="SAP-supportconfig" branches="main">Gathering System Information for Support</doc>
  <doc cat="sles16-sap"  doc="SLE-packages-lifecycle" branches="main">Lifecycles of SLE Components</doc>
  <doc cat="sles16-sap"  doc="SAP-saptune" branches="main">System tuning with saptune</doc>
  
  <doc cat="sles"  doc="SLES-administration" branches="main SLE15SP6 SLE15SP5 SLE15SP4 SLE15SP3">Administration Guide</doc>
  <doc cat="sles"  doc="SLES-gnome-user"   branches="main SLE15SP6 SLE15SP5 SLE15SP4 SLE15SP3">GNOME User Guide</doc>
  <doc cat="sles"  doc="SLES-installation" branches="main SLE15SP6 SLE15SP5 SLE15SP4 SLE15SP3">Installation Quick Start</doc>
  <doc cat="sles"  doc="SLES-modules"      branches="main SLE15SP6 SLE15SP5 SLE15SP4 SLE15SP3">Modules and Extensions Quick Start</doc>
  <doc cat="sles"  doc="SLES-raspberry-pi" branches="main SLE15SP6 SLE15SP5 SLE15SP4 SLE15SP3">Raspberry Pi Quick Start</doc>
  <doc cat="sles"  doc="SLES-virtualization-best-practices" branches="main SLE15SP6 SLE15SP5 SLE15SP4 SLE15SP3">Virtualization Best Practices</doc>

  <doc cat="sles"  doc="SLES-admin"        branches="SLE15SP2 SLE12SP5 SLE12SP4">Administration Guide (previous) </doc>
  <doc cat="sles"  doc="SLES-amd-sev"      branches="main SLE15SP6 SLE15SP5 SLE15SP4 SLE15SP3 SLE15SP2 SLE12SP5 SLE12SP4">AMD Secure Encrypted Virtualization (AMD-SEV) Guide</doc>
  <doc cat="sles"  doc="SLES-autoyast"     branches="main SLE15SP6 SLE15SP5 SLE15SP4 SLE15SP3 SLE15SP2 SLE12SP5 SLE12SP4">AutoYaST Guide</doc>
  <doc cat="sles"  doc="SLES-deployment"   branches="main SLE15SP6 SLE15SP5 SLE15SP4 SLE15SP3 SLE15SP2 SLE12SP5 SLE12SP4">Deployment Guide</doc>
  <doc cat="sles"  doc="SLES-dockerquick"  branches="SLE12SP5 SLE12SP4">Docker Guide</doc>
  <doc cat="sles"  doc="SLES-gnomeuser"    branches="SLE15SP2 SLE12SP5 SLE12SP4">GNOME User Guide (previous)</doc>
  <doc cat="sles"  doc="SLES-hardening"    branches="SLE12SP5 SLE12SP4">Hardening Guide</doc>
  <doc cat="sles"  doc="SLES-installquick" branches="SLE15SP2  SLE12SP5 SLE12SP4">Installation Quick Start (previous)</doc>
  <doc cat="sles"  doc="SLES-kgraft"       branches="SLE12SP5 SLE12SP4">kGraft Guide</doc>
  <doc cat="sles"  doc="SLES-modulesquick" branches="SLE15SP2">Modules and Extensions Quick Start (previous)</doc>
  <doc cat="sles"  doc="SLES-security"     branches="main SLE15SP6 SLE15SP5 SLE15SP4 SLE15SP3 SLE15SP2 SLE12SP5 SLE12SP4">Security and Hardening Guide</doc>
  <doc cat="sles"  doc="SLES-rpi-quick"    branches="SLE15SP2">Raspberry Pi Quick Start (previous)</doc>
  <doc cat="sles"  doc="SLES-rmt"          branches="main SLE15SP6 SLE15SP5 SLE15SP4 SLE15SP3 SLE15SP2">RMT Guide</doc>
  <doc cat="sles"  doc="SLES-smt"          branches="SLE12SP5 SLE12SP4">SMT Guide</doc>
  <doc cat="sles"  doc="SLES-storage"      branches="main SLE15SP6 SLE15SP5 SLE15SP4 SLE15SP3 SLE15SP2 SLE12SP5 SLE12SP4">Storage Guide</doc>
  <doc cat="sles"  doc="SLES-tuning"       branches="main SLE15SP6 SLE15SP5 SLE15SP4 SLE15SP3 SLE15SP2 SLE12SP5 SLE12SP4">System Analysis and Tuning Guide</doc>
  <doc cat="sles"  doc="SLES-upgrade"      branches="main SLE15SP6 SLE15SP5 SLE15SP4 SLE15SP3 SLE15SP2">Upgrade Guide</doc>
  <doc cat="sles"  doc="SLES-virtualization" branches="main SLE15SP6 SLE15SP5 SLE15SP4 SLE15SP3 SLE15SP2 SLE12SP5 SLE12SP4">Virtualization Guide</doc>
  <doc cat="sles"  doc="SLES-vt-best-practices" branches="SLE15SP2 SLE12SP5 SLE12SP4">Virtualization Best Practices (previous)</doc>
  <doc cat="sles"  doc="SLES-xen2kvmquick" branches="SLE15SP2 SLE12SP5 SLE12SP4">Xen to KVM Migration Guide</doc>
  <doc cat="sles"  doc="SLES-jeos"         branches="SLE15SP3 SLE15SP2">JeOS Guide</doc>
  <doc cat="sles"  doc="SLE-kubevirt"      branches="main SLE15SP6 SLE15SP5 SLE15SP4">Using KubeVirt on SUSE Linux Enterprise</doc>

  <doc cat="sle-micro" doc="SLE-Micro-deployment" branches="main SLE_Micro_5.1 SLE_Micro_5.2 SLE_Micro_5.3 SLE_Micro_5.4 SLE_Micro_5.5">Deployment Guide</doc>
  <doc cat="sle-micro" doc="SLE-Micro-autoyast" branches="main SLE_Micro_5.1 SLE_Micro_5.2 SLE_Micro_5.3 SLE_Micro_5.4 SLE_Micro_5.5">AutoYaST Guide</doc>
  <doc cat="sle-micro" doc="SLE-Micro-upgrade" branches="main SLE_Micro_5.1 SLE_Micro_5.2 SLE_Micro_5.3 SLE_Micro_5.4 SLE_Micro_5.5">Upgrade Guide</doc>
  <doc cat="sle-micro" doc="SLE-Micro-podman" branches="main SLE_Micro_5.1 SLE_Micro_5.2 SLE_Micro_5.3 SLE_Micro_5.4 SLE_Micro_5.5">Podman Guide</doc>
  <doc cat="sle-micro" doc="SLE-Micro-security" branches="main SLE_Micro_5.1 SLE_Micro_5.2 SLE_Micro_5.3 SLE_Micro_5.4">Security Guide</doc>
  <doc cat="sle-micro" doc="SLE-Micro-administration" branches="main SLE_Micro_5.1 SLE_Micro_5.2 SLE_Micro_5.3">Administration Guide</doc>
  <doc cat="modular-micro" doc="SLE-Micro-public-cloud" branches="maintenance/SLE_Micro_6.0">SLE Micro in Public Clouds</doc>
  <doc cat="modular-micro" doc="Micro-6.0-public-cloud" branches="maintenance/SLE_Micro_6.0">SLE Micro in Public Clouds v6.0</doc>
  <doc cat="modular-micro" doc="SLE-Micro-5.4-admin" branches="maintenance/SLE_Micro_6.0">Administration Guide v5.4</doc>
  <doc cat="modular-micro" doc="SLE-Micro-5.5-admin" branches="maintenance/SLE_Micro_6.0">Administration Guide v5.5</doc>
  <doc cat="modular-micro" doc="Micro-5.4-cockpit" branches="maintenance/SLE_Micro_6.0">Cockpit Guide v5.4</doc>
  <doc cat="modular-micro" doc="Micro-5.5-cockpit" branches="maintenance/SLE_Micro_6.0">Cockpit Guide v5.5</doc>
  <doc cat="modular-micro" doc="Micro-6.0-cockpit" branches="maintenance/SLE_Micro_6.0">Cockpit Guide v6.0</doc>
  <doc cat="modular-micro" doc="SLE-Micro-security" branches="maintenance/SLE_Micro_6.0">Security Guide</doc>
  <doc cat="modular-micro" doc="Micro-cockpit" branches="main maintenance/SLE_Micro_6.1">Cockpit Guide</doc>
  <doc cat="modular-micro" doc="Micro-public-cloud" branches="maintenance/SLE_Micro_6.1">SUSE Linux Micro in Public Clouds</doc>
  <doc cat="modular-micro" doc="Micro-deployment-images" branches="main maintenance/SLE_Micro_6.1 maintenance/SLE_Micro_6.0">Deployment images description</doc>
  <doc cat="modular-micro" doc="Micro-PAM-security" branches="main maintenance/SLE_Micro_6.1 maintenance/SLE_Micro_6.0">PAM security</doc>
  <doc cat="modular-micro" doc="Micro-deployment-raw-images-virtual-machines" branches="main maintenance/SLE_Micro_6.1 maintenance/SLE_Micro_6.0">Deployment of raw images on virtual machines</doc>
  <doc cat="modular-micro" doc="Micro-ntp-time-synchronization" branches="main maintenance/SLE_Micro_6.1 maintenance/SLE_Micro_6.0">NTP synchronization</doc>
  <doc cat="modular-micro" doc="Micro-selinux" branches="main maintenance/SLE_Micro_6.1 maintenance/SLE_Micro_6.0">SELinux basics</doc>
  <doc cat="modular-micro" doc="Micro-setroubleshoot" branches="main maintenance/SLE_Micro_6.1 maintenance/SLE_Micro_6.0">setroubleshoot to analyze SELinux denial messages</doc>
  <doc cat="modular-micro" doc="Micro-sudo-configure-superuser-privileges" branches="main maintenance/SLE_Micro_6.1 maintenance/SLE_Micro_6.0">Configuring superuser privileges</doc>
  <doc cat="modular-micro" doc="Micro-sudo-run-commands-as-superuser" branches="main maintenance/SLE_Micro_6.1 maintenance/SLE_Micro_6.0">Run commands as a superuser</doc>
  <doc cat="modular-micro" doc="Micro-systemd-basics" branches="main">systemd basics</doc>
  <doc cat="modular-micro" doc="Micro-systemd-working-with-timers" branches="main maintenance/SLE_Micro_6.1 maintenance/SLE_Micro_6.0">Configuring systemd timers</doc>
  <doc cat="modular-micro" doc="Micro-raids" branches="main maintenance/SLE_Micro_6.1 maintenance/SLE_Micro_6.0">Software RAID</doc>
  <doc cat="modular-micro" doc="Rancher-OS" branches="maintenance/SLE_Micro_6.1 maintenance/SLE_Micro_6.0">Rancher-OS</doc>
  <doc cat="modular-micro" doc="Micro-keylime" branches="main maintenance/SLE_Micro_6.1 maintenance/SLE_Micro_6.0">Remote attestation using Keylime</doc>
  <doc cat="modular-micro" doc="Micro-managing-system-logfiles" branches="main maintenance/SLE_Micro_6.1 maintenance/SLE_Micro_6.0">Managing system log files</doc>
  <doc cat="modular-micro" doc="Micro-compose" branches="main maintenance/SLE_Micro_6.1 maintenance/SLE_Micro_6.0">Podman compose</doc>
  <doc cat="modular-micro" doc="Micro-network-configuration" branches="main maintenance/SLE_Micro_6.1 maintenance/SLE_Micro_6.0">Network configuration</doc>
  <doc cat="modular-micro" doc="Micro-upgrade" branches="main maintenance/SLE_Micro_6.1 maintenance/SLE_Micro_6.0">Upgrading procedure</doc>
  <doc cat="modular-micro" doc="Micro-transactional-updates" branches="main maintenance/SLE_Micro_6.1 maintenance/SLE_Micro_6.0">About the transactional-update command</doc>
  <doc cat="modular-micro" doc="Micro-deployment-selfinstall-images" branches="main maintenance/SLE_Micro_6.1 maintenance/SLE_Micro_6.0">Deployment of selfinstall images on bare metal</doc>
  <doc cat="modular-micro" doc="Micro-deployment-raw-images" branches="main maintenance/SLE_Micro_6.1 maintenance/SLE_Micro_6.1 maintenance/SLE_Micro_6.0">Deployment of raw images on bare metal</doc>
  <doc cat="modular-micro" doc="Micro-deployment-raw-images-ibmz-zfcp" branches="main maintenance/SLE_Micro_6.0">Deployment of raw images on zFCP disks on IBM Z</doc>
  <doc cat="modular-micro" doc="Micro-deployment-raw-images-ibmz" branches="main maintenance/SLE_Micro_6.1 maintenance/SLE_Micro_6.0">Deployment of raw images on DASD disks on IBM Z</doc>
  <doc cat="modular-micro" doc="Micro-deployment-pxe" branches="main maintenance/SLE_Micro_6.1">Deployment using the PXE images</doc>
  <doc cat="modular-micro" doc="Micro-pf_bb_config" branches="main maintenance/SLE_Micro_6.1">Using pf_bb_config</doc>  
  <doc cat="modular-micro" doc="Micro-vhostmd" branches="main maintenance/SLE_Micro_6.1">Collecting metrics with vhostmd</doc>
  <doc cat="modular-micro" doc="Micro-zram" branches="main maintenance/SLE_Micro_6.1">Creating zram devices</doc>
  <doc cat="modular-micro" doc="Micro-NVIDIA-Jetson" branches="main">NVIDIA Jetson platform deployment</doc>
  <doc cat="modular-micro" doc="Micro-deployment-vmdk" branches="main maintenance/SLE_Micro_6.1">NVIDIA Jetson platform deployment</doc>

  <doc cat="sled"  doc="SLED-administration" branches="main SLE15SP6 SLE15SP5 SLE15SP4">Administration Guide</doc>
  <doc cat="sled"  doc="SLED-gnome-user"   branches="main SLE15SP6 SLE15SP5 SLE15SP4">GNOME User Guide</doc>
  <doc cat="sled"  doc="SLED-installation" branches="main SLE15SP6 SLE15SP5 SLE15SP4">Installation Guide</doc>
  <doc cat="sled"  doc="SLED-modules"      branches="main SLE15SP6 SLE15SP5 SLE15SP4">Modules and Extensions Quick Start</doc>
  <doc cat="sled"  doc="SLED-deployment"   branches="main SLE15SP6 SLE15SP5 SLE15SP4">Deployment Guide</doc>
  <doc cat="sled"  doc="SLED-security"     branches="main SLE15SP6 SLE15SP5 SLE15SP4">Security and Hardening Guide</doc>
  <doc cat="sled"  doc="SLED-tuning"       branches="main SLE15SP6 SLE15SP5 SLE15SP4">System Analysis and Tuning Guide</doc>
  <doc cat="sled"  doc="SLED-upgrade"      branches="main SLE15SP6 SLE15SP5 SLE15SP4">Upgrade Guide</doc>

  <doc cat="sle-ha" doc="SLE-HA-administration"       branches="main SLEHA15SP6 SLEHA15SP5 SLEHA15SP4 SLEHA15SP3">Administration Guide</doc>
  <doc cat="sle-ha" doc="SLE-HA-installation"         branches="main SLEHA15SP6 SLEHA15SP5 SLEHA15SP4 SLEHA15SP3">Installation and Setup Quick Start</doc>
  <doc cat="sle-ha" doc="SLE-HA-nfs-storage"          branches="main SLEHA15SP6 SLEHA15SP5 SLEHA15SP4 SLEHA15SP3">Highly Available NFS Storage with DRBD and Pacemaker</doc>
  <doc cat="sle-ha" doc="SLE-HA-pacemaker-remote"     branches="main SLEHA15SP6 SLEHA15SP5 SLEHA15SP4 SLEHA15SP3">Pacemaker Remote Quick Start</doc>
  <doc cat="sle-ha" doc="SLE-HA-geo-clustering"       branches="main SLEHA15SP6 SLEHA15SP5 SLEHA15SP4 SLEHA15SP3">Geo Clustering Quick Start</doc>
  <doc cat="sle-ha" doc="SLE-HA-geo-clustering-guide" branches="main SLEHA15SP6 SLEHA15SP5 SLEHA15SP4 SLEHA15SP3">Geo Clustering Guide</doc>

  <doc cat="sle-ha" doc="SLE-HA-guide"      branches="SLEHA15SP2 SLEHA12SP5 SLEHA12SP4">Administration Guide (previous)</doc>
  <doc cat="sle-ha" doc="SLE-HA-install-quick" branches="SLEHA15SP2 SLEHA12SP5 SLEHA12SP4">Installation and Setup Quick Start (previous)</doc>
  <doc cat="sle-ha" doc="SLE-HA-nfs-quick"  branches="SLEHA15SP2 SLEHA12SP5 SLEHA12SP4">Highly Available NFS Storage with DRBD and Pacemaker (previous)</doc>
  <doc cat="sle-ha" doc="SLE-HA-pmremote-quick" branches="SLEHA15SP2 SLEHA12SP5 SLEHA12SP4">Pacemaker Remote Quick Start (previous)</doc>
  <doc cat="sle-ha" doc="SLE-HA-geo-quick"  branches="SLEHA15SP2 SLEHA12SP5 SLEHA12SP4">Geo Clustering Quick Start (previous)</doc>
  <doc cat="sle-ha" doc="SLE-HA-geo-guide"  branches="SLEHA15SP2 SLEHA15SP1 SLEHA15 SLEHA12SP5 SLEHA12SP4">Geo Clustering Guide (previous)</doc>

  <doc cat="sle-rt" doc="SLE-RT-hardware-testing"      branches="main SLERT15SP5 SLERT15SP4 SLERT15SP3">Hardware Testing</doc>
  <doc cat="sle-rt" doc="SLE-RT-setup"                 branches="main SLERT15SP5 SLERT15SP4 SLERT15SP3">Setup Guide</doc>
  <doc cat="sle-rt" doc="SLE-RT-shielding"             branches="main SLERT15SP5 SLERT15SP4 SLERT15SP3 SLERT12SP5">Shielding Linux Resources</doc>
  <doc cat="sle-rt" doc="SLE-RT-virtualization"        branches="main SLERT15SP5 SLERT15SP4 SLERT15SP3">Virtualization Guide</doc>

  <doc cat="sle-rt" doc="SLE-RT-hw"         branches="SLERT12SP5">Hardware Testing (previous)</doc>
  <doc cat="sle-rt" doc="SLE-RT-quick"      branches="SLERT12SP5">Quick Start (previous)</doc>
  <doc cat="sle-rt" doc="SLE-RT-virtguide"  branches="SLERT12SP5">Virtualization Guide (previous)</doc>

  <doc cat="sles-sap" doc="SLES-SAP-installation" branches="main 15_SP6 15_SP5 15_SP4 15_SP3">Quick Start</doc>
  <doc cat="sles-sap" doc="SLES-SAP-automation" branches="main 15_SP6 15_SP5 15_SP4 15_SP3">SAP Automation</doc>
  <doc cat="sles-sap" doc="SLES-SAP-monitoring" branches="main 15_SP6 15_SP5 15_SP4 15_SP3">SAP Monitoring</doc>

  <doc cat="sles-sap" doc="SLES-SAP-guide" branches="main 15_SP6 15_SP5 15_SP4 15_SP3 15_SP2">Guide</doc>
  <doc cat="sles-sap" doc="SLES-SAP-quick" branches="15_SP2">Quick Start (previous, #1)</doc>
  <doc cat="sles-sap" doc="SLES4SAP-guide" branches="12_SP5 12_SP4">Guide (previous)</doc>
  <doc cat="sles-sap" doc="SLES-SAP-sol-automation" branches="15_SP2">SAP Automation (previous)</doc>
  <doc cat="sles-sap" doc="SLES-SAP-sol-monitoring" branches="15_SP2">SAP Monitoring (previous)</doc>

  <doc cat="sle-hpc"  doc="hpc-guide"      branches="main SLE15SP6 SLE15SP5 SLE15SP4 SLE15SP3">HPC Guide</doc>


  <doc cat="opensuse" doc="opensuse-autoyast"  branches="main">AutoYaST Guide</doc>
  <doc cat="opensuse" doc="opensuse-gnome-user" branches="main">Gnome User Guide</doc>
  <doc cat="opensuse" doc="opensuse-reference" branches="main">Reference Guide</doc>
  <doc cat="opensuse" doc="opensuse-security"  branches="main">Security and Hardening Guide</doc>
  <doc cat="opensuse" doc="opensuse-startup"   branches="main">Startup Guide</doc>
  <doc cat="opensuse" doc="opensuse-tuning"    branches="main">Tuning Guide</doc>
  <doc cat="opensuse" doc="opensuse-virtualization" branches="main">Virtualization Guide</doc>


  <doc cat="vmdp"     doc="vmdp"               branches="main">Installation Guide</doc>


  <doc cat="ses"   doc="ses-admin"         branches="main ses7 ses6 ses5">Administration Guide</doc>
  <doc cat="ses"   doc="ses-deployment"    branches="main ses7 ses6 ses5">Deployment Guide</doc>
  <doc cat="ses"   doc="ses-troubleshooting" branches="main ses7">Troubleshooting Guide</doc>
  <doc cat="ses"   doc="ses-tuning"        branches="ses6">Tuning Guide</doc>
  <doc cat="ses"   doc="ses-security"      branches="main ses7">Security Hardening Guide</doc>
  <doc cat="ses"   doc="ses-rook"          branches="main ses7">Deploying and Administrating Ceph on SUSE CaaS Platform</doc>
  <doc cat="ses"   doc="ses-windows"       branches="main ses7">SUSE Enterprise Storage for Windows</doc>
  <doc cat="ses"   doc="ses-man"           branches="main ses7">man pages</doc>


  <doc cat="cap"   doc="cap-guides"        branches="master">Deployment, Administration, and User Guides</doc>
  <doc cat="cap-rn" doc="release-notes"    branches="master">Release Notes</doc>


  <doc cat="caasp" doc="caasp-quickstart"    branches="master">Installation Quick Start</doc>
  <doc cat="caasp" doc="caasp-architecture"  branches="master">Architecture Guide</doc>
  <doc cat="caasp" doc="caasp-admin"         branches="master">Administration Guide</doc>
  <doc cat="caasp" doc="caasp-deployment"    branches="master">Deployment Guide</doc>
  <doc cat="caasp" doc="caasp-airgap"        branches="master">Airgap Deployment Guide</doc>
  <doc cat="caasp-rn" doc="release-notes"    branches="master">Release Notes</doc>


  <doc cat="soc"   doc="suse-openstack-cloud-deployment"             branches="cloud_9">Deployment Guide for Cloud Lifecycle Manager</doc>
  <doc cat="soc"   doc="suse-openstack-cloud-operations"             branches="cloud_9">Operations Guide for Cloud Lifecycle Manager</doc>
  <doc cat="soc"   doc="suse-openstack-cloud-crowbar-deployment"     branches="cloud_9">Deployment Guide for Crowbar</doc>
  <doc cat="soc"   doc="suse-openstack-cloud-crowbar-operations"     branches="cloud_9">Operations Guide for Crowbar</doc>
  <doc cat="soc"   doc="suse-openstack-cloud-supplement"             branches="cloud_9 cloud_8">Supplement to Administrator Guide and End User Guide</doc>
  <doc cat="soc"   doc="suse-openstack-cloud-security"               branches="cloud_9 cloud_8">Security Guide</doc>

  <doc cat="soc"   doc="suse-openstack-cloud-upstream-admin" branches="cloud_8">OpenStack (Upstream) Administrator Guide</doc>
  <doc cat="soc"   doc="suse-openstack-cloud-upstream-user"  branches="cloud_8">OpenStack (Upstream) End User Guide</doc>
  <doc cat="soc"   doc="suse-openstack-cloud-deployment"     branches="cloud_8">Deploying With Crowbar</doc>
  <doc cat="soc"   doc="suse-openstack-cloud-operations"     branches="cloud_8">Operations Guide</doc>
  <doc cat="soc"   doc="suse-openstack-cloud-user"           branches="cloud_8">User Guide</doc>
  <doc cat="soc"   doc="suse-openstack-cloud-socmoverview"   branches="cloud_8">Monitoring Overview</doc>
  <doc cat="soc"   doc="suse-openstack-cloud-socmmsoperator" branches="cloud_8">Monitoring Service Operator's Guide</doc>
  <doc cat="soc"   doc="suse-openstack-cloud-socmosoperator" branches="cloud_8">Monitoring OpenStack Operator's Guide</doc>
  <doc cat="soc"   doc="suse-openstack-cloud-installation"   branches="cloud_8">Installing with Cloud Lifecycle Manager</doc>
  <doc cat="soc"   doc="suse-openstack-cloud-planning"       branches="cloud_8">Planning an Installation with Cloud Lifecycle Manager</doc>
  <doc cat="soc"   doc="suse-openstack-cloud-opsconsole"     branches="cloud_8">Operations Console Guide</doc>

  
  <doc cat="smartdocs" doc="systemd-working-with-timers" branches="SLE15SP7">Working with systemd timers</doc>
  <doc cat="smartdocs" doc="minimal-vm" branches="SLE15SP7">Introduction to SLES Minimal VM</doc>
  <doc cat="smartdocs" doc="manage-vm-on-commandline" branches="SLE15SP7">Unified Virtual Machine Administration using libvirt</doc>
  <doc cat="smartdocs" doc="ntp-time-synchronization" branches="SLE15SP7">Time synchronization using NTP</doc>
  <doc cat="smartdocs" doc="virtual-disk-cache-mode-configure" branches="SLE15SP7">Configuring a Virtual Disk Cache Mode</doc>
  <doc cat="smartdocs" doc="vm-assign-pci-device" branches="SLE15SP7">Assigning host devices to a virtual machine</doc>
  <doc cat="smartdocs" doc="cpu-check-temperature" branches="SLE15SP7">Check and monitor CPU temperature</doc>
  <doc cat="smartdocs" doc="forward-root-mail" branches="SLE15SP7">Configuring mail forwarding for root</doc>
  <doc cat="smartdocs" doc="freeradius-setup-server" branches="SLE15SP6">Setting up a FreeRADIUS server</doc>
  <doc cat="smartdocs" doc="http-boot-setting-up-server" branches="SLE15SP6">Setting up an HTTP Boot server</doc>
  <doc cat="smartdocs" doc="ulp-livepatching" branches="SLE15SP6">Creating a User Space Live Patch</doc>
  <doc cat="smartdocs" doc="network-interface-predictable-naming" branches="SLE15SP7">Predictable naming scheme for network interfaces</doc>
  <doc cat="smartdocs" doc="network-bond-managing-devices" branches="SLE15SP7">Managing network bonding devices</doc>
  <doc cat="smartdocs" doc="network-team-managing-devices" branches="SLE15SP7">Managing network teaming devices</doc>
  <doc cat="smartdocs" doc="systemd-basics" branches="SLE15SP7">Introduction to systemd basics</doc>
  <doc cat="smartdocs" doc="systemd-securing" branches="SLE15SP6">Securing systemd Services</doc>
  <doc cat="smartdocs" doc="systemd-setting-up-service" branches="SLE15SP7">Setting Up a systemd Service</doc>
  <doc cat="smartdocs" doc="systemd-management" branches="SLE15SP7">Managing systemd Services</doc>
  <doc cat="smartdocs" doc="subnet-manager-configuring" branches="SLE15SP7">Configuring a Subnet Manager</doc>
  <doc cat="smartdocs" doc="PAM-security" branches="SLE15SP6">PAM introduction</doc>
  <doc cat="smartdocs" doc="virtualization" branches="SLE15SP7">Introduction to virtualization</doc>
  <doc cat="smartdocs" doc="virt-scenario-creating-customized-vm-guests" branches="SLE15SP7">Creating Customized Virtual Machines Using virt-scenario</doc>
  <doc cat="smartdocs" doc="vxlan" branches="SLE15SP7">Connecting Virtual Machines to a VXLAN</doc>
  <doc cat="smartdocs" doc="tls-certificates" branches="SLE15SP6">Securing Communication with TLS Certificates</doc>
  <doc cat="smartdocs" doc="SLES-NVIDIA-jetson" branches="SLE15SP6">NVIDIA Jetson platform deployment</doc>
  <doc cat="smartdocs" doc="SLES-copy-file-rsync" branches="SLE15SP7">Copying Files and Directories with rsync</doc>
  <doc cat="smartdocs" doc="GNOME-getting-started" branches="SLE15SP7">Getting Started with GNOME Desktop</doc>
  <doc cat="smartdocs" doc="rootless-podman" branches="SLE15SP7">Running Podman in Rootless Mode</doc>
  <doc cat="smartdocs" doc="kernel-boot-parameters-modify" branches="SLE15SP7">Modifying Kernel Boot Parameters</doc>
  <doc cat="smartdocs" doc="supportconfig" branches="SLE15SP7">Gathering System Information for Support</doc>
 
  <doc cat="pubcloud" doc="public-cloud" branches="main">SUSE Public Cloud Guide</doc>

  <doc cat="styleguide" doc="style-guide-db" branches="main">DocBook Style Guide</doc>
  <doc cat="styleguide" doc="style-guide-adoc" branches="main">AsciiDoc Style Guide</doc>

  <doc cat="release-notes" doc="release-notes" branches="sl-micro_60 sl-micro_61 sl-micro_62" formats="html">SUSE Linux Enterprise Micro</doc>
  <doc cat="release-notes" doc="release-notes" branches="sles-15_SP4 sles-15_SP5 sles-15_SP6 sles-15_SP7" formats="html">SUSE Linux Enterprise Server 15</doc>
  <doc cat="release-notes" doc="release-notes" branches="sles-16.0" formats="html">SUSE Linux Enterprise Server 16</doc>
  <doc cat="release-notes" doc="release-notes" branches="sleha-16.0" formats="html">SUSE Linux Enterprise High Availability 16</doc>
  <doc cat="release-notes" doc="release-notes" branches="slesap-16.0" formats="html">SUSE Linux Enterprise Server for SAP Applications 16</doc>
  <doc cat="release-notes" doc="release-notes" branches="sled-15_SP4 sled-15_SP5 sled-15_SP6" formats="html">SUSE Linux Enterprise Desktop</doc>
  <doc cat="release-notes" doc="release-notes" branches="sle-sap-15_SP4 sle-sap-15_SP5 sle-sap-15_SP6" formats="html">SUSE Linux Enterprise Server for SAP Applications</doc>
  <doc cat="release-notes" doc="release-notes" branches="sle-ha-15_SP4 sle-ha-15_SP5 sle-ha-15_SP6" formats="html">SUSE Linux Enterprise High Availability Extension</doc>
  <doc cat="release-notes" doc="release-notes" branches="sle-hpc-15_SP4 sle-hpc-15_SP5 sle-hpc-15_SP6" formats="html">SUSE Linux Enterprise High Performance Computing</doc>
  <doc cat="release-notes" doc="release-notes" branches="leap-16.0" formats="html">openSUSE Leap 16</doc>

  <doc cat="liberty" doc="quickstart-smlm" branches="main">Registering with SUSE Multi-Linux Manager</doc>
  <doc cat="liberty" doc="quickstart" branches="main SLL9 SLL8 SLL7">Registering with RMT</doc>
  <doc cat="liberty" doc="compliance-scans" branches="main SLL9 SLL8 SLL7">Running OpenSCAP Compliance Scans for SUSE Multi-Linux Support</doc>
  <doc cat="liberty" doc="suma-quickstart" branches="SLL9 SLL8 SLL7">Registering with SUSE Multi-Linux Manager (previous)</doc>
  <doc cat="liberty" doc="quickstart-scc" branches="SLL7">Registering with the SUSE Customer Center</doc>
  <doc cat="liberty" doc="quickstart-smt" branches="SLL7">Registering with SMT</doc>

  <!-- Unversioned -->
  <doc cat="unvers" doc="container-guide/Container-guide" outputname="SLES-container" branches="main">SUSE Linux Enterprise Containers</doc>
  <doc cat="unvers" doc="licenses/gfdl" outputname="licenses" branches="main">Licenses</doc>
  <doc cat="unvers" doc="pcidss/SLES-pci-dss" outputname="SLES-pci-dss" branches="main">Payment Card Industry Data Security Standard (PCI DSS) Guide</doc>
  <doc cat="unvers" doc="sap-ha-support/sap-ha-support" outputname="sap-ha-support" branches="main">Supported High Availability Solutions by SLES for SAP Applications</doc>
  <doc cat="submgt" doc="scc-hypervisor-collector/SLE-scc-hypervisor-collector" outputname="SLE-scc-hypervisor-collector" branches="main">Collecting hypervisor details in SUSE Customer Center</doc>
  <doc cat="unvers" doc="stig/SLES-stig" outputname="SLES-stig" branches="main">Hardening SUSE Linux Enterprise with STIG</doc>
  <doc cat="unvers" doc="suseconnect-visibility/SLE-suseconnect-visibility" outputname="SLE-suseconnect-visibility" branches="main">Enriched system visibility in the SUSE Customer Center</doc>
  <doc cat="unvers" doc="trento/SLES-SAP-trento" outputname="SLES-SAP-trento" branches="main">Getting started with Trento Premium</doc>
  <doc cat="unvers" doc="openscap/SLES-openscap" branches="main">Hardening SUSE Linux Enterprise with OpenSCAP</doc>
</indexconfig>
