<?xml version="1.0"?>

<indexconfig>
  <meta>
    <title>SUSE Documentation Draft Builds</title>
    <head>SUSE Documentation - <span class="warn">Draft Builds</span></head>
    <tabs>
     <a href="https://documentation.suse.com/">SUSE Docs (official)</a>
     <a href="https://doc.opensuse.org">openSUSE Docs (official)</a>
     <a href="mailto:doc-team@suse.com">Contact doc-team@suse.com</a>
    </tabs>
    <desc>
      <p>
        This page lists draft documentation built and uploaded automatically.
        They may document beta software and be incomplete or even incorrect.
      </p>
      <p class="warn">Use these documents at your own risk.</p>
      <p>
        Find the released versions of the product documentation at:
      </p>
      <ul>
        <li>SUSE Products: <a href="https://documentation.suse.com/">https://documentation.suse.com/</a></li>
        <li>openSUSE: <a href="https://doc.opensuse.org">https://doc.opensuse.org</a></li>
      </ul>
      <p>
        To reach out to us, use the e-mail address
        <a href="mailto:doc-team@suse.com">doc-team@suse.com</a>.
        Report issues with this page at
        <a href="https://github.com/SUSEdoc/susedoc.github.io/issues">https://github.com/SUSEdoc/susedoc.github.io/issues</a>.
      </p>
      <p>
        The <em>main</em> branch usually corresponds with the
        upcoming release. In these cases the content may change heavily over a
        very short period of time. The release branches usually are stable. In
        some cases, the main branch also represents the most recent release.
      </p>
      <p>
        If you want to build docs yourself, there are two ways to install our
        toolchain:
        <a href="/ymp/">natively</a> (openSUSE Leap or Tumbleweed) or
        <a href="https://github.com/openSUSE/daps2docker">containerized</a>
        (any Linux distribution with Docker/Podman and systemd).
      </p>
    </desc>
    <bottominfo/>
    <style>stylesheet.css</style>
    <baseurl/>
    <formats>
     <format dir="html">HTML</format>
     <format dir="single-html">Single HTML</format>
    </formats>
  </meta>
  <cats>
    <cat id="release-notes" repo="release-notes">Release Notes</cat>
    <cat id="alp"        repo="doc-modular">SUSE ALP</cat>
    <cat id="sles"       repo="doc-sle">SUSE Linux Enterprise Server</cat>
    <cat id="sle-micro"  repo="doc-sle">SUSE Linux Enterprise Micro</cat>
    <cat id="modular-micro"  repo="doc-modular">SUSE Linux Enterprise Micro</cat>
    <cat id="sled"       repo="doc-sle">SUSE Linux Enterprise Desktop</cat>
    <cat id="sle-ha"     repo="doc-sleha">SUSE Linux Enterprise High Availability Extension</cat>
    <cat id="sle-rt"     repo="doc-slert">SUSE Linux Enterprise Real-Time</cat>
    <cat id="sles-sap"   repo="doc-slesforsap">SUSE Linux Enterprise Server for SAP Applications</cat>
    <cat id="sle-hpc"    repo="doc-hpc">SUSE Linux Enterprise High Performance Computing</cat>
    <cat id="sbp"        repo="suse-best-practices">SUSE Best Practices</cat>
    <cat id="opensuse"   repo="doc-sle">openSUSE</cat>
    <cat id="vmdp"       repo="doc-vmdp">SLE Virtual Machine Driver Pack</cat>
    <cat id="ses"        repo="doc-ses">SUSE Enterprise Storage</cat>
    <cat id="cap"        repo="doc-cap">SUSE Cloud Application Platform</cat>
    <cat id="cap-rn"     repo="cap-release-notes">SUSE Cloud Application Platform (Release Notes)</cat>
    <cat id="caasp"      repo="doc-caasp">SUSE CaaS Platform</cat>
    <cat id="caasp-rn"   repo="caasp-release-notes">SUSE CaaS Platform (Release Notes)</cat>
    <cat id="soc"        repo="doc-cloud">SUSE OpenStack Cloud</cat>
    <cat id="pubcloud"   repo="doc-public-cloud">SUSE Public Cloud</cat>
    <cat id="smartdocs"  repo="doc-modular">SUSE Smart Docs</cat>
    <cat id="styleguide" repo="doc-styleguide">SUSE Documentation Style Guide</cat>
    <cat id="liberty"    repo="doc-liberty">SUSE Liberty Linux</cat>
    <cat id="unvers"     repo="doc-unversioned">SUSE Linux Enterprise unversioned</cat>
    <cat id="submgt"     repo="doc-unversioned">Subscription Management</cat>
  </cats>

  <redirect from="sles-15sp4-rn" to="release-notes/sles-15_SP4/html/release-notes/"/>
  <redirect from="sled-15sp4-rn" to="release-notes/sled-15_SP4/html/release-notes/"/>
  <redirect from="sle-sap-15sp4-rn" to="release-notes/sle-sap-15_SP4/html/release-notes/"/>
  <redirect from="sle-ha-15sp4-rn" to="release-notes/sle-ha-15_SP4/html/release-notes/"/>
  <redirect from="sle-hpc-15sp4-rn" to="release-notes/sle-hpc-15_SP4/html/release-notes/"/>

  <doc cat="sles"  doc="SLES-administration" branches="main SLE15SP4 SLE15SP3">Administration Guide</doc>
  <doc cat="sles"  doc="SLES-gnome-user"   branches="main SLE15SP4 SLE15SP3">GNOME User Guide</doc>
  <doc cat="sles"  doc="SLES-installation" branches="main SLE15SP4 SLE15SP3">Installation Quick Start</doc>
  <doc cat="sles"  doc="SLES-modules"      branches="main SLE15SP4 SLE15SP3">Modules and Extensions Quick Start</doc>
  <doc cat="sles"  doc="SLES-raspberry-pi" branches="main SLE15SP4 SLE15SP3">Raspberry Pi Quick Start</doc>
  <doc cat="sles"  doc="SLES-virtualization-best-practices" branches="main SLE15SP4 SLE15SP3">Virtualization Best Practices</doc>

  <doc cat="sles"  doc="SLES-admin"        branches="SLE15SP2 SLE15SP1 SLE15SP0 SLE12SP5 SLE12SP4">Administration Guide (previous)</doc>
  <doc cat="sles"  doc="SLES-amd-sev"      branches="main SLE15SP4 SLE15SP3 SLE15SP2 SLE15SP1 SLE15SP0 SLE12SP5 SLE12SP4">AMD Secure Encrypted Virtualization (AMD-SEV) Guide</doc>
  <doc cat="sles"  doc="SLES-autoyast"     branches="main SLE15SP4 SLE15SP3 SLE15SP2 SLE15SP1 SLE15SP0 SLE12SP5 SLE12SP4">AutoYaST Guide</doc>
  <doc cat="sles"  doc="SLES-deployment"   branches="main SLE15SP4 SLE15SP3 SLE15SP2 SLE15SP1 SLE15SP0 SLE12SP5 SLE12SP4">Deployment Guide</doc>
  <doc cat="sles"  doc="SLES-dockerquick"  branches="SLE15SP1 SLE15SP0 SLE12SP5 SLE12SP4">Docker Guide</doc>
  <doc cat="sles"  doc="SLES-gnomeuser"    branches="SLE15SP2 SLE15SP1 SLE15SP0 SLE12SP5 SLE12SP4">GNOME User Guide (previous)</doc>
  <doc cat="sles"  doc="SLES-hardening"    branches="SLE12SP5 SLE12SP4">Hardening Guide</doc>
  <doc cat="sles"  doc="SLES-installquick" branches="SLE15SP2 SLE15SP1 SLE15SP0 SLE12SP5 SLE12SP4">Installation Quick Start (previous)</doc>
  <doc cat="sles"  doc="SLES-kgraft"       branches="SLE12SP5 SLE12SP4 SLE12SP3">kGraft Guide</doc>
  <doc cat="sles"  doc="SLES-modulesquick" branches="SLE15SP2 SLE15SP1 SLE15SP0">Modules and Extensions Quick Start (previous)</doc>
  <doc cat="sles"  doc="SLES-security"     branches="main SLE15SP4 SLE15SP3 SLE15SP2 SLE15SP1 SLE15SP0 SLE12SP5 SLE12SP4">Security and Hardening Guide</doc>
  <doc cat="sles"  doc="SLES-rpi-quick"    branches="SLE15SP2 SLE15SP1 SLE15SP0">Raspberry Pi Quick Start (previous)</doc>
  <doc cat="sles"  doc="SLES-rmt"          branches="main SLE15SP4 SLE15SP3 SLE15SP2 SLE15SP1 SLE15SP0">RMT Guide</doc>
  <doc cat="sles"  doc="SLES-smt"          branches="SLE12SP5 SLE12SP4">SMT Guide</doc>
  <doc cat="sles"  doc="SLES-storage"      branches="main SLE15SP4 SLE15SP3 SLE15SP2 SLE15SP1 SLE15SP0 SLE12SP5 SLE12SP4">Storage Guide</doc>
  <doc cat="sles"  doc="SLES-tuning"       branches="main SLE15SP4 SLE15SP3 SLE15SP2 SLE15SP1 SLE15SP0 SLE12SP5 SLE12SP4">System Analysis and Tuning Guide</doc>
  <doc cat="sles"  doc="SLES-upgrade"      branches="main SLE15SP4 SLE15SP3 SLE15SP2 SLE15SP1 SLE15SP0">Upgrade Guide</doc>
  <doc cat="sles"  doc="SLES-virtualization" branches="main SLE15SP4 SLE15SP3 SLE15SP2 SLE15SP1 SLE15SP0 SLE12SP5 SLE12SP4">Virtualization Guide</doc>
  <doc cat="sles"  doc="SLES-vt-best-practices" branches="SLE15SP2 SLE15SP1 SLE15SP0 SLE12SP5 SLE12SP4">Virtualization Best Practices (previous)</doc>
  <doc cat="sles"  doc="SLES-xen2kvmquick" branches="SLE15SP2 SLE15SP1 SLE15SP0 SLE12SP5 SLE12SP4">Xen to KVM Migration Guide</doc>
  <doc cat="sles"  doc="SLES-jeos"         branches="SLE15SP3 SLE15SP2">JeOS Guide</doc>
  <doc cat="sles"  doc="SLES-minimal-vm"   branches="main SLE15SP4">Minimal VM Quick Start Guide</doc>


  <doc cat="sle-micro" doc="SLE-Micro-deployment" branches="main SLE_Micro_5.1 SLE_Micro_5.2 SLE_Micro_5.3 SLE_Micro_5.4 SLE_Micro_5.5">Deployment Guide</doc>
  <doc cat="sle-micro" doc="SLE-Micro-autoyast" branches="main SLE_Micro_5.1 SLE_Micro_5.2 SLE_Micro_5.3 SLE_Micro_5.4 SLE_Micro_5.5">AutoYaST Guide</doc>
  <doc cat="sle-micro" doc="SLE-Micro-upgrade" branches="main SLE_Micro_5.1 SLE_Micro_5.2 SLE_Micro_5.3 SLE_Micro_5.4 SLE_Micro_5.5">Upgrade Guide</doc>
  <doc cat="sle-micro" doc="SLE-Micro-podman" branches="main SLE_Micro_5.1 SLE_Micro_5.2 SLE_Micro_5.3 SLE_Micro_5.4 SLE_Micro_5.5">Podman Guide</doc>
  <doc cat="sle-micro" doc="SLE-Micro-security" branches="main SLE_Micro_5.1 SLE_Micro_5.2 SLE_Micro_5.3 SLE_Micro_5.4 SLE_Micro_5.5">Security Guide</doc>
  <doc cat="sle-micro" doc="SLE-Micro-administration" branches="main SLE_Micro_5.1 SLE_Micro_5.2 SLE_Micro_5.3">Administration Guide</doc>
  <doc cat="modular-micro" doc="SLE-Micro-public-cloud" branches="main">SLE Micro in Public Clouds</doc>
  <doc cat="modular-micro" doc="SLE-Micro-admin" branches="main">Administration Guide</doc>
  <doc cat="modular-micro" doc="cockpit-slemicro" branches="main">Cockpit Guide</doc>


  <doc cat="sled"  doc="SLED-administration" branches="main SLE15SP4 SLE15SP3">Administration Guide</doc>
  <doc cat="sled"  doc="SLED-gnome-user"   branches="main SLE15SP4 SLE15SP3">GNOME User Guide</doc>
  <doc cat="sled"  doc="SLED-installation" branches="main SLE15SP4 SLE15SP3">Installation Guide</doc>
  <doc cat="sled"  doc="SLED-modules"      branches="main SLE15SP4 SLE15SP3">Modules and Extensions Quick Start</doc>
  <doc cat="sled"  doc="SLED-deployment"   branches="main SLE15SP4 SLE15SP3">Deployment Guide</doc>
  <doc cat="sled"  doc="SLED-security"     branches="main SLE15SP4 SLE15SP3">Security and Hardening Guide</doc>
  <doc cat="sled"  doc="SLED-tuning"       branches="main SLE15SP4 SLE15SP3">System Analysis and Tuning Guide</doc>
  <doc cat="sled"  doc="SLED-upgrade"      branches="main SLE15SP4 SLE15SP3">Upgrade Guide</doc>

  <doc cat="sle-ha" doc="SLE-HA-administration"       branches="main SLEHA15SP4 SLEHA15SP3">Administration Guide</doc>
  <doc cat="sle-ha" doc="SLE-HA-installation"         branches="main SLEHA15SP4 SLEHA15SP3">Installation and Setup Quick Start</doc>
  <doc cat="sle-ha" doc="SLE-HA-nfs-storage"          branches="main SLEHA15SP4 SLEHA15SP3">Highly Available NFS Storage with DRBD and Pacemaker</doc>
  <doc cat="sle-ha" doc="SLE-HA-pacemaker-remote"     branches="main SLEHA15SP4 SLEHA15SP3">Pacemaker Remote Quick Start</doc>
  <doc cat="sle-ha" doc="SLE-HA-geo-clustering"       branches="main SLEHA15SP4 SLEHA15SP3">Geo Clustering Quick Start</doc>
  <doc cat="sle-ha" doc="SLE-HA-geo-clustering-guide" branches="main SLEHA15SP4 SLEHA15SP3">Geo Clustering Guide</doc>

  <doc cat="sle-ha" doc="SLE-HA-guide"      branches="SLEHA15SP2 SLEHA15SP1 SLEHA15 SLEHA12SP5 SLEHA12SP4">Administration Guide (previous)</doc>
  <doc cat="sle-ha" doc="SLE-HA-install-quick" branches="SLEHA15SP2 SLEHA15SP1 SLEHA15 SLEHA12SP5 SLEHA12SP4">Installation and Setup Quick Start (previous)</doc>
  <doc cat="sle-ha" doc="SLE-HA-nfs-quick"  branches="SLEHA15SP2 SLEHA15SP1 SLEHA15 SLEHA12SP5 SLEHA12SP4">Highly Available NFS Storage with DRBD and Pacemaker (previous)</doc>
  <doc cat="sle-ha" doc="SLE-HA-pmremote-quick" branches="SLEHA15SP2 SLEHA15SP1 SLEHA15 SLEHA12SP5 SLEHA12SP4">Pacemaker Remote Quick Start (previous)</doc>
  <doc cat="sle-ha" doc="SLE-HA-geo-quick"  branches="SLEHA15SP2 SLEHA15SP1 SLEHA15 SLEHA12SP5 SLEHA12SP4">Geo Clustering Quick Start (previous)</doc>
  <doc cat="sle-ha" doc="SLE-HA-geo-guide"  branches="SLEHA15SP2 SLEHA15SP1 SLEHA15 SLEHA12SP5 SLEHA12SP4">Geo Clustering Guide (previous)</doc>


  <doc cat="sle-rt" doc="SLE-RT-hardware-testing"      branches="main SLERT15SP3">Hardware Testing</doc>
  <doc cat="sle-rt" doc="SLE-RT-setup"                 branches="main SLERT15SP3">Setup Guide</doc>
  <doc cat="sle-rt" doc="SLE-RT-shielding"             branches="main SLERT15SP3 SLERT15SP2 SLERT15SP1 SLERT12SP5">Shielding Linux Resources</doc>
  <doc cat="sle-rt" doc="SLE-RT-virtualization"        branches="main SLERT15SP3">Virtualization Guide</doc>

  <doc cat="sle-rt" doc="SLE-RT-hw"         branches="SLERT15SP2 SLERT15SP1 SLERT12SP5">Hardware Testing (previous)</doc>
  <doc cat="sle-rt" doc="SLE-RT-quick"      branches="SLERT15SP2 SLERT15SP1 SLERT12SP5">Quick Start (previous)</doc>
  <doc cat="sle-rt" doc="SLE-RT-virtguide"  branches="SLERT15SP2 SLERT15SP1 SLERT12SP5">Virtualization Guide (previous)</doc>

  <doc cat="sles-sap" doc="SLES-SAP-installation" branches="main 15_SP4 15_SP3">Quick Start</doc>
  <doc cat="sles-sap" doc="SLES-SAP-automation" branches="main 15_SP4 15_SP3">SAP Automation</doc>
  <doc cat="sles-sap" doc="SLES-SAP-monitoring" branches="main 15_SP4 15_SP3">SAP Monitoring</doc>

  <doc cat="sles-sap" doc="SLES-SAP-guide" branches="main 15_SP4 15_SP3 15_SP2">Guide</doc>
  <doc cat="sles-sap" doc="SLES-SAP-quick" branches="15_SP2">Quick Start (previous, #1)</doc>
  <doc cat="sles-sap" doc="SLES4SAP-guide" branches="15_SP1 15_GA 12_SP5 12_SP4">Guide (previous)</doc>
  <doc cat="sles-sap" doc="SLES4SAP-quick" branches="15_SP1 15_GA">Quick Start (previous, #2)</doc>
  <doc cat="sles-sap" doc="SLES-SAP-sol-automation" branches="15_SP2">SAP Automation (previous)</doc>
  <doc cat="sles-sap" doc="SLES-SAP-sol-monitoring" branches="15_SP2">SAP Monitoring (previous)</doc>


  <doc cat="sle-hpc"  doc="hpc-guide"      branches="main SLE15SP4 SLE15SP3">HPC Guide</doc>


  <doc cat="opensuse" doc="opensuse-autoyast"  branches="main">AutoYaST Guide</doc>
  <doc cat="opensuse" doc="opensuse-gnome-user" branches="main">Gnome User Guide</doc>
  <doc cat="opensuse" doc="opensuse-reference" branches="main">Reference Guide</doc>
  <doc cat="opensuse" doc="opensuse-security"  branches="main">Security and Hardening Guide</doc>
  <doc cat="opensuse" doc="opensuse-startup"   branches="main">Startup Guide</doc>
  <doc cat="opensuse" doc="opensuse-tuning"    branches="main">Tuning Guide</doc>
  <doc cat="opensuse" doc="opensuse-virtualization" branches="main">Virtualization Guide</doc>


  <doc cat="vmdp"     doc="vmdp"               branches="main">Installation Guide</doc>


  <doc cat="ses"   doc="ses-admin"         branches="main ses7 ses6 ses5">Administration Guide</doc>
  <doc cat="ses"   doc="ses-deployment"    branches="main ses7 ses6 ses5">Deployment Guide</doc>
  <doc cat="ses"   doc="ses-troubleshooting" branches="main ses7">Troubleshooting Guide</doc>
  <doc cat="ses"   doc="ses-tuning"        branches="ses6">Tuning Guide</doc>
  <doc cat="ses"   doc="ses-security"      branches="main ses7">Security Hardening Guide</doc>
  <doc cat="ses"   doc="ses-rook"          branches="main ses7">Deploying and Administrating Ceph on SUSE CaaS Platform</doc>
  <doc cat="ses"   doc="ses-windows"       branches="main ses7">SUSE Enterprise Storage for Windows</doc>
  <doc cat="ses"   doc="ses-man"           branches="main ses7">man pages</doc>


  <doc cat="cap"   doc="cap-guides"        branches="master">Deployment, Administration, and User Guides</doc>
  <doc cat="cap-rn" doc="release-notes"    branches="master">Release Notes</doc>


  <doc cat="caasp" doc="caasp-quickstart"    branches="master">Installation Quick Start</doc>
  <doc cat="caasp" doc="caasp-architecture"  branches="master">Architecture Guide</doc>
  <doc cat="caasp" doc="caasp-admin"         branches="master">Administration Guide</doc>
  <doc cat="caasp" doc="caasp-deployment"    branches="master">Deployment Guide</doc>
  <doc cat="caasp" doc="caasp-airgap"        branches="master">Airgap Deployment Guide</doc>
  <doc cat="caasp-rn" doc="release-notes"    branches="master">Release Notes</doc>


  <doc cat="soc"   doc="suse-openstack-cloud-deployment"             branches="cloud_9">Deployment Guide for Cloud Lifecycle Manager</doc>
  <doc cat="soc"   doc="suse-openstack-cloud-operations"             branches="cloud_9">Operations Guide for Cloud Lifecycle Manager</doc>
  <doc cat="soc"   doc="suse-openstack-cloud-crowbar-deployment"     branches="cloud_9">Deployment Guide for Crowbar</doc>
  <doc cat="soc"   doc="suse-openstack-cloud-crowbar-operations"     branches="cloud_9">Operations Guide for Crowbar</doc>
  <doc cat="soc"   doc="suse-openstack-cloud-supplement"             branches="cloud_9 cloud_8">Supplement to Administrator Guide and End User Guide</doc>
  <doc cat="soc"   doc="suse-openstack-cloud-security"               branches="cloud_9 cloud_8">Security Guide</doc>

  <doc cat="soc"   doc="suse-openstack-cloud-upstream-admin" branches="cloud_8">OpenStack (Upstream) Administrator Guide</doc>
  <doc cat="soc"   doc="suse-openstack-cloud-upstream-user"  branches="cloud_8">OpenStack (Upstream) End User Guide</doc>
  <doc cat="soc"   doc="suse-openstack-cloud-deployment"     branches="cloud_8">Deploying With Crowbar</doc>
  <doc cat="soc"   doc="suse-openstack-cloud-operations"     branches="cloud_8">Operations Guide</doc>
  <doc cat="soc"   doc="suse-openstack-cloud-user"           branches="cloud_8">User Guide</doc>
  <doc cat="soc"   doc="suse-openstack-cloud-socmoverview"   branches="cloud_8">Monitoring Overview</doc>
  <doc cat="soc"   doc="suse-openstack-cloud-socmmsoperator" branches="cloud_8">Monitoring Service Operator's Guide</doc>
  <doc cat="soc"   doc="suse-openstack-cloud-socmosoperator" branches="cloud_8">Monitoring OpenStack Operator's Guide</doc>
  <doc cat="soc"   doc="suse-openstack-cloud-installation"   branches="cloud_8">Installing with Cloud Lifecycle Manager</doc>
  <doc cat="soc"   doc="suse-openstack-cloud-planning"       branches="cloud_8">Planning an Installation with Cloud Lifecycle Manager</doc>
  <doc cat="soc"   doc="suse-openstack-cloud-opsconsole"     branches="cloud_8">Operations Console Guide</doc>

  <doc cat="smartdocs" doc="concept-bci" branches="main">Introduction to SLES base container images</doc>
  <doc cat="smartdocs" doc="concept-bci-get-started" branches="main">Getting started with SLE Base Container Images</doc>
  <doc cat="smartdocs" doc="minvm-intro" branches="main">Introduction to SLES Minimal VM</doc>
  <doc cat="smartdocs" doc="concept-klp" branches="main">Kernel Live Patching Concept</doc>
  <doc cat="smartdocs" doc="concept-manage-virtual-machines-libvirt" branches="main">Managing virtual machines with libvirt: Basic Concept</doc>
  <doc cat="smartdocs" doc="concept-systemd" branches="main">Basic systemd Concepts</doc>
  <doc cat="smartdocs" doc="ntp-time-synchronization" branches="main">Time synchronization using NTP</doc>
  <doc cat="smartdocs" doc="concept-virtual-disk-cache-modes" branches="main">Virtual disk cache: Basic concept</doc>
  <doc cat="smartdocs" doc="concept-virtualization" branches="main">Virtualization: Basic concept</doc>
  <doc cat="smartdocs" doc="concept-zypper" branches="main">Zypper package manager</doc>
  <doc cat="smartdocs" doc="reference-connection-accounting-utilities" branches="main">Connection accounting utilities</doc>
  <doc cat="smartdocs" doc="reference-managing-systemd-targets-systemctl" branches="main">Managing systemd targets with systemctl</doc>
  <doc cat="smartdocs" doc="reference-systemctl-enable-disable-services" branches="main">Enabling and disabling systemd services</doc>
  <doc cat="smartdocs" doc="reference-systemctl-start-stop-services" branches="main">Starting and stopping systemd services</doc>
  <doc cat="smartdocs" doc="reference-zypper-install" branches="main">Installing and removing software with Zypper; reference</doc>
  <doc cat="smartdocs" doc="task-add-modules-extensions-after-installation" branches="main">Adding modules and extensions after installation</doc>
  <doc cat="smartdocs" doc="task-assign-pci-device-libvirt" branches="main">Assigning a PCI device to a virtual machine</doc>
  <doc cat="smartdocs" doc="cpu-check-temperature" branches="main">Check and monitor CPU temperature</doc>
  <doc cat="smartdocs" doc="task-configure-virtual-machine-manager" branches="main">Configuring virtual machines with Virtual Machine Manager</doc>
  <doc cat="smartdocs" doc="task-debug-failed-systemd-services" branches="main">Debugging failed systemd services</doc>
  <doc cat="smartdocs" doc="task-delete-modules-extensions" branches="main">Deleting modules and extensions</doc>
  <doc cat="smartdocs" doc="forward-root-mail" branches="main">Configuring mail forwarding for root</doc>
  <doc cat="smartdocs" doc="task-install-virtualization-components" branches="main">Installing virtualization components </doc>
  <doc cat="smartdocs" doc="task-modify-kernel-boot-parameter" branches="main">Modifying kernel boot parameters</doc>
  <doc cat="smartdocs" doc="task-register-deregister-product-after-installation" branches="main">Registering and deregistering your product after installation</doc>
  <doc cat="smartdocs" doc="task-send-termination-signals-systemd" branches="main">Sending termination signals to systemd services</doc>
  <doc cat="smartdocs" doc="freeradius-setup-server" branches="main">Setting up a FreeRADIUS server</doc>
  <doc cat="smartdocs" doc="task-set-up-uefi-http-boot-server" branches="main">Setting up a UEFI HTTP Boot server</doc>
  <doc cat="smartdocs" doc="raids" branches="main">Software RAID</doc>
  <doc cat="smartdocs" doc="ulp-livepatching" branches="main">ULP patching a library</doc>
  <doc cat="smartdocs" doc="network-interface-predictable-naming" branches="main">Predictable naming scheme for network interfaces</doc>
  <doc cat="smartdocs" doc="virt-scenario-creating-customized-vm-guests" branches="main">Creating customized virtual machines using virt-scenario</doc>
  
<!-- ALP -->
  <doc cat="alp" doc="alp-dolomite" branches="main">The SUSE ALP Dolomite Guide</doc>
  <doc cat="alp" doc="cockpit-alp-dolomite" branches="main">The SUSE ALP Dolomite Cockpit Guide</doc>

<!-- SLE Micro -->
  <doc cat="smartdocs" doc="cockpit-slemicro" branches="main">The SLE Micro Cockpit Guide</doc>
  <doc cat="smartdocs" doc="SLE-Micro-admin" branches="main">The SLE Micro Admin Guide</doc>
  <doc cat="smartdocs" doc="cockpit-slemicro" branches="main">Cockpit Guide</doc>
  
  <!-- Real documents from assemblies -->
  <doc cat="smartdocs" doc="systemd-working-with-timers" branches="main">Working with systemd timers</doc>

  <doc cat="pubcloud" doc="public-cloud" branches="main">SUSE Public Cloud Guide</doc>

  <doc cat="styleguide" doc="docu_styleguide" outputname="style-guide" branches="main">Style Guide</doc>
  <doc cat="styleguide" doc="docu_styleguide_with_changes" outputname="style-guide-with-change-log" branches="main">Style Guide with Change Log</doc>

  <doc cat="release-notes" doc="release-notes" branches="sles-15_SP4 sles-15_SP5" formats="html">SUSE Linux Enterprise Server</doc>
  <doc cat="release-notes" doc="release-notes" branches="sled-15_SP4 sled-15_SP5" formats="html">SUSE Linux Enterprise Desktop</doc>
  <doc cat="release-notes" doc="release-notes" branches="sle-sap-15_SP4 sle-sap-15_SP5" formats="html">SUSE Linux Enterprise Server for SAP Applications</doc>
  <doc cat="release-notes" doc="release-notes" branches="sle-ha-15_SP4 sle-ha-15_SP5" formats="html">SUSE Linux Enterprise High Availability Extension</doc>
  <doc cat="release-notes" doc="release-notes" branches="sle-hpc-15_SP4 sle-hpc-15_SP5" formats="html">SUSE Linux Enterprise High Performance Computing</doc>

  <doc cat="liberty" doc="quickstart" branches="main">Registering RHEL 9</doc>
  <doc cat="liberty" doc="quickstart" branches="SLL8">Registering RHEL 8 or CentOS Linux 8</doc>
  <doc cat="liberty" doc="quickstart" branches="SLL7">Registering RHEL 7 or CentOS Linux 7</doc>

  <!-- Unversioned -->
  <doc cat="unvers" doc="pcidss/SLES-pci-dss" outputname="SLES-pci-dss" branches="main">Payment Card Industry Data Security Standard (PCI DSS) Guide</doc>
  <doc cat="unvers" doc="container-guide/Container-guide" outputname="SLES-container" branches="main">SUSE Linux Enterprise Containers</doc>
  <doc cat="unvers" doc="suseconnect-visibility/SLE-suseconnect-visibility" outputname="SLE-suseconnect-visibility" branches="main">Enriched system visibility in the SUSE Customer Center</doc>
  <doc cat="unvers" doc="trento/SLES-SAP-trento" outputname="SLES-SAP-trento" branches="main">Getting started with Trento Premium</doc>
  <doc cat="unvers" doc="kubevirt/SLE-kubevirt" outputname="SLE-kubevirt" branches="main">Using KubeVirt on SUSE Linux Enterprise</doc>
  <doc cat="unvers" doc="sap-ha-support/sap-ha-support" outputname="sap-ha-support" branches="main">Supported High Availability Solutions by SLES for SAP Applications</doc>

  <doc cat="submgt" doc="scc-hypervisor-collector/SLE-scc-hypervisor-collector" outputname="SLE-scc-hypervisor-collector" branches="main">Collecting hypervisor details in SUSE Customer Center</doc>
</indexconfig>
