@import "https://documentation.suse.com/docserv/res/fonts/poppins/poppins.css";

html {
  margin: 0 auto;
  max-width: 60em;
  font-family: 'Poppins', sans-serif;
  overflow-y: scroll;
  color: #0C322C;
}

body {
  margin: 5em 1em;
  background-color: #FFF;
}

hr {
  border: none;
  border-bottom: 1px solid #C0C2C4;
}

ul.basenav {
  font-size: 1.5em;
}

a[href^='https://']::after,
a[href^='http://']::after,
a[href^='irc://']::after {
  content: '↗';
  color: #30BA78;
  border: 1px solid #30BA78;
  border-radius: .2em;
  font-size: .6em;
  display: inline-block;
  padding: .1em .2em;
  margin-left: .5em;
  line-height: 1em;
}


.initialCollapsed.unmarkedExternal a[href^='https://']::after,
.initialCollapsed.unmarkedExternal a[href^='http://']::after,
.initialCollapsed.unmarkedExternal a[href^='irc://']::after {
  content: none;
}

.marged {
  margin-top: 30px;
}

.power {
  font-size: .4em;
  margin-top: 10px;
}

h2 {
  margin: 1em 0 .5em 0;
  font-size: 1.2em;
}

ul.doclist {
  display: block;
  padding: 0;
}

a {
  color: #30BA78;
  text-decoration: none;
}

a:visited {
  color: #30BA78;
}

a:hover, a:focus, a:active {
  text-decoration: underline;
}

ul.doclist > li {
  margin: 15px 0;
  display: block;
  position: relative;
  clear: both;
}

ul.doclist > li > span:nth-of-type(1)::before {
  content: ' ';
  display: inline-block;
  width: 0;
  height: 0;
  border-color: transparent;
  position: absolute;
  left: -.8em;
  top: .65em;
  border-width: .375em 0 .375em .5em;
  border-style: solid;
}

ul.doclist > li:hover > span:nth-of-type(1)::before {
  border-color: transparent #000;
}

ul.doclist > li > span.branch {
  border-left: 1px solid #CCC;
  margin-left: 5px;
  padding-left: 5px;
  width: calc(8em);
}

ul.doclist > li > span.branch:nth-of-type(2) {
  border-left: none;
  margin-left: 0;
  padding-left: 0;
}

ul.doclist > li > span.branch > span.branchname {
  text-align: center;
  display: block;
  overflow-wrap: break-word;
}

ul.doclist > li > span {
  display: inline-block;
  width: 10em;
  padding: .25em .25em .25em 0;
  margin-right: .25em;
  text-align: left;
  vertical-align: middle;
}

ul.doclist > li > span:nth-of-type(1) {
  display: block !important;
  width: auto !important;
  font-style: italic;
}

ul.doclist > li > span:nth-child(1) {
  min-width: 15em;
}

ul.doclist > li > span > a {
  background-color: #EEE;
  border-radius: 0;
  border: 1px solid #DDD;
  color: #666;
  display: inline-block;
  margin-left: -1px;
  margin-right: 0;
  min-width: 8em;
  padding: .25em;
  text-align: center;
  text-decoration: none;
  position: relative;
  z-index: 1;
  transition: background-color 0.2s;
}

ul.doclist > li > span > a:nth-of-type(1) {
  border-radius: 4px 4px 0 0;
}

ul.doclist > li > span > a:last-of-type {
  border-radius: 0 0 4px 4px;
}

ul.doclist > li > span > a:nth-of-type(1):last-of-type {
  border-radius: 4px;
}

ul.doclist > li > span > a:hover, ul.doclist > li > span > a:focus, ul.doclist > li > span > a:active {
  background-color: #DDD;
  border-color: #AAA;
  color: #333;
  z-index: 10;
}

iframe {
  border: none;
  height: 2.25em;
  width: 100%;
}

.topmargin {
  margin-top: 4em;
}

hr {
  border: none;
  border-bottom: 1px solid #CCC;
}

ul.doclist > li.archive > span:nth-child(1) {
  color: #AAA;
}

ul.doclist > li.archive > span:nth-child(1)::after {
  content: 'archived';
  margin-left: 5px;
  vertical-align: super;
  font-size: 0.7em;
}

ul.miniToc {
  columns: 4 auto;
  column-gap: 1em;
}

h2 > a {
  text-decoration: none !important;
  color: #000;
}

.warn {
  color: #E11;
}

p.warn {
  color: #FFF;
  background-color: #E11;
  padding: 1em;
  font-weight: 700;
}


/* Wrap for top tabs */
.tabwrap {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9002;
  width: 100%;
  background-color: #0C322C;
}

/* Tab strip */
.tabs {
  margin: 0 auto;
  max-width: 60em;
  box-sizing: border-box;
  padding: 0;
}

.tabs::after {
  content: '';
  display: block;
  clear: both;
}

/* Individual tabs */
.tabs > a, .tabs > a:visited {
  background-color: #0C322C;
  display: block;
  box-sizing: border-box;
  float: left;
  padding: .4em;
  transition: 0.2s;
  width: calc((100% - 10%) / 3);
  text-align: center;
  color: #FFF;
  border-left: 1px solid #FFFA;
  outline: none;
}

.tabs > a:last-child {
  border-right: 1px solid #FFFA;
}

.tabs > a:hover, .tabs > a:focus {
  background-color: #30BA78;
  text-decoration: none;
}

.tabs > a.active {
  text-decoration: underline;
}

.tabs > a[href='#'] {
  width: 10%;
  color: #FFF;
}

.tabs > a[href='#']::before {
  content: '↑';
}

.tabs > a[href^='https://']::after,
.tabs > a[href^='http://']::after,
.tabs > a[href^='irc://']::after {
  content: '↗';
  color: #FFF;
  border: 1px solid #FFF;
  border-radius: .2em;
  font-size: .6em;
  display: inline-block;
  padding: .1em .2em;
  margin-left: .5em;
  line-height: 1em;
}

#adv_settings {
  display: none;
}

/* Trick to create an offset for scrolling despite the fixed header. */
span.anchor:target {
  position: absolute;
  display: block;
  top: -2em;
  width: 0;
  height: 0;
}

h2 {
  position: relative;
}

@media only screen and (max-width: 52.5em) {
  ul.doclist > li > a {
    min-width: 7em;
  }
  ul.miniToc {
    columns: 3 auto;
  }
}
@media only screen and (max-width: 45.5em) {
  ul.doclist > li > a {
    min-width: 6em;
  }
}
@media only screen and (max-width: 39em) {
  ul.doclist > li > a {
    min-width: 5em;
  }
}
@media only screen and (max-width: 36em) {
  ul.doclist > li > span {
    display: block;
 }
  ul.doclist > li > a {
    /* Whatever. Not sure what I am calculating here. */
    width: calc(33.3% - 16px);
  }
  ul.miniToc {
    columns: 2 auto;
  }
}
