a {
  color: #439239;
  text-decoration: none;
}

a:visited {
  color: #439239;
}

a.jump {
  color: #777;
  text-decoration: none;
}

a.jump:visited {
  color: #777;
}

hr {
  margin-top: 2em;
  margin-bottom: 2em;
}

html {
  margin: 0 auto;
  max-width: 70em;
  font-family: 'Open Sans', sans-serif;
  overflow-y:scroll;
}

body {
  margin: 1em 1em;
  background-color: #FFF;
}

hr {
  border: none;
  border-bottom: 1px solid #CCC;
}

ul.basenav {
  font-size: 1.5em;
}

td:first-child { width: 20em;}
